body {
	text-align: center;
	background-color: rgb(216, 174, 71);
	background-color: rgba(216, 174, 71, .5);
	min-width: 890px;
}

div {
	width: 400px;
	height: 300px;
	display: inline-block;
	margin: 30px;
	background-size: cover;
}

span {
	display: block;
}

.ali {
	background-image: url("optimizilla/Ali.jpg");
}

.tyson {
	background-image: url("optimizilla/Tyson.png");
}

.vovchanchin {
	background-image: url("optimizilla/vovchanchin.jpg");
}

.schwarzenegger {
	background-image: url("optimizilla/schwarzenegger.jpg");
}

.johnson {
	background-image: url("optimizilla/duen_johnson.jpg");
}

.lee {
	background-image: url("optimizilla/bryus_lee.jpg");
}

.Celentano {
	background-image: url("optimizilla/Adriano_Celentano.jpg");
}

.jobs {
	background-image: url("optimizilla/jobs_steve.jpg");
}

.luther_king {
	background-image: url("optimizilla/martin_luther_king.jpg");
}

.smith {
	background-image: url("optimizilla/will_smith.jpg");
}